@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Martel Sans', sans-serif;
}

.main {
    background-image: url("assets/images/img1.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 90vh;
    position: relative;
    width: 100%;
 


}

.main .box {
    width: 100%;
    height: 90vh;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0%;
    

}

nav {
    max-width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    gap:50px;
}

nav img {
    width: 140px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height:85.44%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    gap: 15px;
    padding: 0 30px;
}

.hero>:nth-child(1) {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;

}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    font-family: Helvetica ;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    font-family: Helvetica ;
}



.btns #btn1 {
    margin: 10px;
    width: 80px;
    height: 30px;
    background-color: rgb(23,23,23,0.2);
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    z-index: 20;
    font-family: Helvetica ;
}

.btns button {
    margin: 10px;
    width: 80px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5px;
}

.hero-footer{
    display: flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;

}

.hero-footer button {
    width: 200px;
    height: 55px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    border-radius: 5px;
    font-family: Helvetica ;
  
}

.hero-footer input {
    width: 350px;
    height: 35px;
    padding: 10px;
    background-color: rgb(23,23,23,0.2);
    outline: 1px solid white;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    border-radius: 2px;
   

}

.seperate{
    height: 7px;
    background-color: rgb(36, 34, 34);
    position: relative;
    z-index: 20;
}

.first{
    color: white;
    max-width: 70vw;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 50px;
    margin: auto;

    
}
.sectxt{
    display: flex;
    flex-direction: column;

}
 
.sectxt>:nth-child(1){
    font-weight: bolder;
    font-size: 45px;

}
.sectxt>:nth-child(2){
    font-weight: 100;
    font-size: 19px;
    font-family: Helvetica ;

}
.secimg{
    position: relative;
}
.secimg img{
 width: 355px;
position: relative;
z-index: 10;
 
}

.secimg video{
    position: absolute;
    top: 51px;
    right: 1px;
    width: 311px;;
}

.third .secimg video{
    position: absolute;
    top: 22px;
    right: 71px;
    width: 215px;
}



.faq{
    color: white;
   padding: 20px;
}
.faq> :nth-child(1){
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
}
.faqbox{
    font-family: Helvetica ;
    padding: 20px;
    font-size: 24px;
    font-weight: 100px;
    max-width: 70vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: rgb(43, 43, 43);
}

.sec-footer h4{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}

footer{
    color: gray;
    padding: 30px;
    font-size: 15px;
    font-family: Helvetica ;
}
footer .txt{
    margin-left:4.5vw;
    padding: 34px 0;
}

.footer-boxes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  
}


.footer-box{
    display: flex;
    flex-direction: column;
    gap:8px;
    margin: 10px;
}
.footer-box a{
    color: gray;
}

@media  only screen and (max-width:1008px){

   .first{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 25px;
   }
    .sectxt>:nth-child(1){
        font-size: 30px;
    }
    
.sectxt>:nth-child(2) {
    font-weight: 100;
    font-size: 15px;
}


.faq> :nth-child(1) {
    text-align: center;
    font-size: 35px;
}

.faqbox{
    padding: 17px;
    font-size: 20px;
    max-width: 75vw;
}

nav{
    max-width: 100vw;
}

.hero>:nth-child(1) {
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}
.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
}
.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 17px;
    text-align: center;

}

.hero{
padding: 24px 30px;
}

.hero-footer input {
    width: 290px;
}

.hero-footer button {
    width: 189px;
    height: 45px;
    font-size: 20px;
}

.hero {
    height: 73.44%;
}

nav img {
    width: 97px;
    position: relative;
    z-index: 10;
    padding: 28px;
}

.btns{
    display: flex;
    overflow: hidden;
}

.main .box{
    height: 119vh;

}
.main{
    height: 119vh;
    overflow:hidden ;
}
.btns #btn1 {
    margin: 10px;
    width: 140px;
    font-size: 12px;
    z-index: 20;
}
.btns button {
    font-size: 12px;
    width: 139px;
    height: 34px;
}

.footer .txt {
    margin-left: -4px;
    padding: 33px 4px;
}

footer{
    font-size: 10px;
}
}